<header class="header">
    <h1 class="header__logo"><img src="/public/icons/code_icon.svg" class="header__logo-icon" alt="code icon"/> Hayden Bradfield</h1>
    <h2 class="header__subtext">Independent Web Development Services</h2>
</header>