<header class="header">
    <div class="header__container">
        <div class="header__part header__part--left">
            <a href="/" class="header__logo">
                <img src="/public/icons/code_icon.svg" class="header__logo-icon" alt="code icon"/> 
                <div>
                    <h1 class="header__basetext">Hayden Bradfield</h1>
                    <h2 class="header__subtext">Independant Web Development Services</h2>
                </div>
            </a>
        </div>
        <div class="header__part header__part--right">
            <button class="nav-toggle-btn">
                <img src="/public/icons/menu_animated_grey_icon.svg" alt="menu icon" />
                <span>Menu</span>
            </button>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="/about-me">About Me</a>
                    </li>
                    <li>
                        <a href="/niche-markets">Niche Markets</a>
                    </li>
                    <li>
                        <a href="https://haydenbradfield.com/portfolio" target="_blank">Portfolio <img src="/public/icons/external_link.svg" alt="external link icon" /></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>