<div class="submission-toast">
    <img class="submission-toast__icon" src="/public/icons/success_icon.svg" alt="success icon"/>
    <p class="submission-toast__message">Your inquiry has been successfully submitted!</p>
</div>