DB_HOST=""
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""

SMTP_HOST=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
CONTACT_ALERT_FROM_EMAIL=""
CONTACT_ALERT_TO_EMAIL=""
CONTACT_ALERT_CC_EMAIL=""

CAPTCHA_SECRET=""