.benefits {
    min-height: 40rem;
    background: #0d2f4c;
    padding: 6rem 2rem;
}

.benefit-list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 90rem;
    margin:0 auto;
    list-style: none;
}

.benefit-item {
    background: rgba(255,255,255,.7);
    padding:2rem;
    border-radius: 0 1rem 0 2rem;
    border: 2px solid #aaa;
    display: flex;
    align-items: center;
    gap: 2rem;

    &__text {
        font-size: 2.6rem;
    }

    .checkmark-icon {
        height: 8rem;
    }
}

