.benefits {
    background: #1f384f;
    padding: 6rem 2rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    gap: 4rem;
    flex-basis: 100rem;
    margin:0 auto;
    list-style: none;
}

.benefit-item {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1.8rem;

    &__text {
        font-size: 1.8rem;
        font-weight: 600;
        color: #eee;
        white-space: nowrap;
    }

    .benefit-icon {
        width: 8rem;
    }
}

