.contact {
    min-height: 40rem;
    background: #ced8e0;
    padding: 4rem 2rem;

    &__heading {
        font-size: 2.8rem;
        margin-bottom: 3rem;
        text-align: center;
    }
}

.contact-form {
    display: block;
    max-width: 90rem;
    margin:2rem auto;
}

.form-group {
    margin: 2rem 0;
}

.text-field,
.message-area {
    border: 2px solid #0d2f4c;
    padding: 3px;
    background: #fff;
}

.message-area {
    display:block;
    width: 100%;
    min-height: 20rem;
    outline: none;
    font-family: inherit;
    resize: none;
    font-size: 1.8rem;
}

.text-field {

    &__label {
        display: block;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &__input {
        display: block;
        width: 100%;
        font-size: 2.4rem;
        outline: none;
        border:none;
        font-family: inherit;
    }

}

.subbut {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: 25rem;
    background: #0d2f4c;
    color: #eee;
    border: none;
    margin:0 auto;
    font-family: inherit;
    font-size: 2.6rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
}

