.header {
    background: #000;
    padding: 2rem;
    padding: 7rem 2rem;
    position: relative;
    box-shadow: 0 0 .5rem rgba(0,0,0,.24);
    border-bottom: 2px solid #545e64;
    color: #ccc;
    display: flex;
    place-items: center;
    flex-direction: column;

    &__logo {
        margin-bottom: 2rem;
        font-size: 3.2rem;
        color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: .5rem;
        white-space: nowrap;
    }

    &__subtext {
        color: #3f93c0;
        font-size: 1.8rem;
        text-align: center;
    }

    &__logo-icon {
        height: 6rem;
        display: block;
    }
}