.services {
    background: #5c7788;
    padding: 7rem 2rem;
}

.service-tile-collection {
    display: flex;
    max-width: 120rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:0 auto;
}

.service-tile {
    background: rgba(250,250,250,.35);
    padding: 3rem;
    border-radius: 1rem;
    border: 5px solid #18304d;
    box-shadow: 0 0 .5rem rgba(0,0,0,.7);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 30rem;

    &__icon {
        height: 15rem;
    }

    &__text {
        font-size: 2.4rem;
        color: #000;
    }
}

