.submission-toast {
    display: none;
    position: fixed;
    left:0;
    right: 0;
    top: 1rem;
    margin: 0 auto;
    z-index: 2000;
    max-width: 40rem;
    min-width: 25rem;
    width: 75%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    background: #eee;
    box-shadow: 0 0 .5rem rgba(0,0,0,.4);

    &__icon {
        flex-shrink: 0;
        width: 3rem;
    }

    &__message {
        color: #555;
        font-size: 1.4rem;
    }

    &.render {
        display: flex;
        animation: slide-down .4s forwards;
    }
}


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-8rem);
    }

    to{
        opacity: 1;
        transform: translate(0);
    }
}