.submission-toast {
    opacity:0;
    position: fixed;
    top: -8rem;
    left:0;
    right: 0;
    margin: 0 auto;
    z-index: 2000;
    max-width: 40rem;
    min-width: 25rem;
    width: 75%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    background: #eee;
    box-shadow: 0 0 .5rem rgba(0,0,0,.4);
    transition: all .5s;

    &__icon {
        flex-shrink: 0;
        width: 3rem;
    }

    &__message {
        color: #555;
        font-size: 1.4rem;
    }

    &.render {
        opacity: 1;
        top: 1rem;
    }
}