.work-examples {
    min-height: 40rem;
    background: #000;
    padding:3rem 2rem;
}

.website-example-thumb {
    width: 100%;
    height: 100%;
    position: relative;

    &__img {
        object-fit: cover;
        object-position: left;
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 500px) {

    .website-example-thumb {
        &__img {
            object-position: center;
        }
    }

}