@font-face {
    font-family: 'Figtree';
    font-weight: 400;
    src: url('/public/fonts/Figtree-Regular.ttf');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 700;
    src: url('/public/fonts/Figtree-Bold.ttf');
}
