
@use "./fontfaces";
@use "./resets";
@use "./base";


//Components
@use "./components/header";
@use "./components/submission-toast";
@use "./components/hero";
@use "./components/services-section";
@use "./components/benefits-section";
@use "./components/work-examples-section";
@use "./components/swiper-carousel";
@use "./components/contact-section";
@use "./components/footer";


@media (max-width: 600px) {
    .benefit-item {
        flex-direction: column;
    }

    .header {
        &__logo {
            font-size: 3rem;
        }
    }
}